# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
logs/*

# Dependency directories
node_modules/
jspm_packages/


/data
/server/server-data
/server/node_modules
/server/.gitignore
.vercel
/client/.env
*.DS_Store
/server/.env
gcp-service-account.json
/.env