.hero {
  text-align: center;
  padding: 1rem 1rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.5rem;
}

.nav-options {
  text-align: center;
  margin-top: 1rem;
}

.nav-button {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.75rem 1.25rem;
  background-color: #a99985;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #8c8575;
}

.about-note {
  margin-top: 1rem;
}

.changelog-section {
  margin-top: 5rem;
}

