.opus-box {
    background-color: #e7d8b8;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
    margin-left: 50px;
    width: calc(100% - 70px);
    max-width: 500px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.opus-box:hover {
    transform: translateX(5px);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
}

.opus-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.opus-title {
    flex: 1;
}

.opus-title h3 {
    font-size: 1.2rem;
    margin: 5px 0;
    color: #252525;
}

.opus-title .rank {
    font-size: 1.1rem;
    color: #61563e;
    display: flex;
    align-items: center;
}

.opus-title .additional-info {
    font-size: 1rem;
    color: #61563e;
    margin: 5px 0;
}

.opus-stats {
    text-align: right;
    color: #61563e;
}

.opus-stats p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.opus-description {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.medal-image {
    width: 15px;
    height: auto;
    margin-left: 8px;
}

.opus-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.spotify-link {
    color: #1DB954;  /* Spotify green */
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.spotify-link:hover {
    color: #1ed760;  /* Slightly lighter Spotify green */
    text-decoration: underline;
}

.opus-box button {
    margin-top: 0;  /* Remove top margin since it's handled by opus-actions */
    padding: 8px 16px;
    background-color: #91805c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.opus-box button:hover {
    background-color: #61563e;
}

.opus-box.expanded {
    width: calc(100% - 70px);
    padding: 25px;
    max-width: 820px;
}

.opus-box.expanded .opus-description {
    margin-top: 3px;
    padding-top: 3px;
}

/* Updated media queries for mobile devices */
@media screen and (max-width: 768px) {
    .opus-box {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        max-width: none;
        padding: 15px;
        box-sizing: border-box;
    }

    .opus-box.expanded {
        position: relative;
        margin-left: 0;
        margin-right: 0;
        width: calc(100% - 40px);
        max-width: none;
        padding: 20px;
        box-sizing: border-box;
        left: 20px;
    }

    .opus-stats {
        font-size: 0.8rem;
    }

    .opus-title h3 {
        font-size: 1.1rem;
    }

    .opus-title .rank {
        font-size: 1rem;
    }

    .opus-actions {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}